root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{cs,csproj,props,targets}]
indent_size = 4

[*.{json,yml,yaml,xaml,md}]
indent_size = 2

[*.py]
indent_size = 4

[*.cs]
dotnet_diagnostic.CA1416.severity = none
# Prefer file-scoped namespaces
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:warning
dotnet_sort_system_directives_first = true
